NODE_ENV="production"

NEXTAUTH_URL=http://localhost:3000/api/auth
NEXTAUTH_SECRET=secret

GITHUB_ID=Ov23lijJt3n6fwqbB7nP
GITHUB_SECRET=725462b2e608de22251c8b36fe80adcbf83c72b0

GOOGLE_ID=google-client-id
GOOGLE_SECRET=google-client-secret

NEXT_PUBLIC_BASE_URL=http://localhost:5000/api
BASE_URL=http://localhost:5000/api

